@font-face {
    font-family: 'Sinteca';
    src: url('Sinteca-VF.woff') format('Woff');
  }

  @font-face {
    font-family: 'Safira';
    src: url('Safira.woff') format('Woff');
  }

body {
    background-color: #F8E6CF;
    color: #899685;
    font-family: 'Sinteca';
    margin: 0;
    padding: 0;
}
header {
    background-color: #F8E6CF;
    color: #899685;
    padding: 15px;
    text-align: center;
    font-family: 'Sinteca';
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.banner img {
  width: 100%;
  height: auto;
  display: block;
}
h1 {
    font-family:'Safira';
    text-align: left;
}
.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #0a0a0a;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #3eaa91;
}


